h1 {
  color: red;
}
header {
  height: 80px;
  border: 1px solid gray;
}
.header-left {
  float: left;
  margin: 20px 0 0 200px;
}

.header-center {
  float: left;
  position: relative;
  left: 400px;
}

.header-right {
  float: right;
  margin: 20px 200px 0 0;
}
.post {
  display: inline-block;
  background: red;
  padding: 10px;
  border-radius: 5px;
}

.wrapper {
  width:100%;
}

.image-content img {
  width: 100%;
}
