body p{
  margin: 0px;
}

header {
  height: 80px;
  border-bottom: none;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 10;
}
.header-left {
  float: left;
  margin: 20px 0 0 200px;
}

.header-center {
  float: left;
  position: relative;
  left: 400px;
  margin-top: 20px;
}

.header-right {
  float: right;
  margin: 20px 200px 0 0;
}
.post {
  display: inline-block;
  background: red;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.wrapper {
  width:100%;
}

.image-content img {
  width: 100%;
  height: 70%;
}
.image-content h1 {
  position: absolute;
  top: 300px;
  left: 600px;
  color: lightgrey;
}

.image-text p {
  color: white;
  line-height: 50px;
  font-size: 20px;
}

.image-text {
  height: 30%;
  background: lightgrey;
  height: 50px;
  text-align: center;
}

.triangle {
  border: 10px solid;
  border-color: lightgrey transparent transparent;
  width: 0px;
  margin: 0 auto;
}

.items {
  width: 100%;
  margin: 50px 0 50px 0;
  display: flex;
}
.item {
  border: 3px solid;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-left: 200px;
  text-align: center;
}
.item-text {
  line-height: 200px;
  display: inline;
  font-size: 15px;
}

.my-big {
  font-size: 50px;
  position: relative;
  bottom: 50px;
}

.main-wrapper {
  display: flex;
}

.main-wrapper img {
  width: 50%;
}

.main-text {
  width: 50%;
  background: lightgrey;
}

.main-text p{
  margin: 20px 0 0 15px;
  color: white;
}

.text-content {
  width: 70%;
}
.main-content {
  width: 100%;
}

.form-center {
  margin: 100px auto;
  background: lightgrey;
  width: 60%;
  padding: 40px;
  display: flex;
}

.form-left {
  position: relative;
  left: 100px;
  line-height: 20px;
}

.form-right {
  line-height: 20px;
  position: relative;
  left: 300px;
  height: 60px;
  width: 300px;
  color: white;
  display: inline-block;
  background: red;
  line-height: 60px;
  text-align: center;
}

.form-tel {
  font-size: 20px;
}

footer {
  height: 80px;
  background: lightgrey;
}

.footer-left p {
  position: relative;
  top: 40px;
  left: 100px;
}
